.header-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    height: 35px;
    width: 95%;
    margin: auto;
}

.header-section .actions{
    display: flex;
    flex-direction: row;
    align-items: center;
}
